body {
  font-family: Courier, monospace;
  font-size: 100%;
  color: #fcf354;
  background: #03a8a9;  
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
}

.shells {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: block;
  text-align: center;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 140%;
  font-weight: 700;
  color: #ffffff;
}

.header span {
  background: #0204ac;
  padding-left: 10px;
  padding-right: 10px;
}

.outer_shell {
  background: #0204ac;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 120%;
  box-shadow: 10px 10px 0px #000000;
}

.inner_shell {
  padding-left: 5px;
  padding-right: 5px;
  border-top: 5px double #acaaac;
  border-right: 2px solid #acaaac;
  border-bottom: 2px solid #acaaac;
  border-left: 2px solid #acaaac;
}

p.status {
  color: #acaaac;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 60%;
}

p.command {
  color: #acaaac;
  margin-top: 0px;
}

.name {
  font-size: 200%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.align_r {
  text-align: right;
}

.align_l {
  text-align: left;
}

.buttons {
  display: block;
  margin-top: 10px;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.buttons span:first-letter {
  color: #acaaac;
}

.buttons span {
  margin-left: 20px;
}

a.nav {
  background: #00a902;
  padding-top: 1px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  box-shadow: 10px 10px 0px #000000;
  text-decoration: none;
  color: #ffffff;
}

a:visited.nav {
  color: #ffffff;
}

a, a:visited {
  color: #acaaac;
}

div.menu {
  display: table;
  width: 100%;
  background: #acaaac;
  color: #000000;
  font-weight: 700;
  font-size: 120%;
}

div.menu span {
  display: table-cell;
  text-align: center;
  width: 1%;
}

.menu span:first-letter {
  color: #ac0204;
}
