body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: #404850;
  background: #f0f0f0;  
  width: 80%;
  margin: 0;
  padding-bottom: 20px;
  padding-left: 20px;
}

.shells {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: block;
  text-align: left;
  margin-top: -20px;
  margin-left: 20px;
  margin-right: auto;
  font-size: 140%;
  font-weight: 700;
  color: #e5a00d;
}

.header span {
  background: #f0f0f0;
  padding-left: 10px;
  padding-right: 10px;
}

.outer_shell {
  background: #f0f0f0;
  padding-top: 15px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 120%;
  //box-shadow: 10px 10px 0px #000000;
}

.inner_shell {
  font-family: "Courier New", Courier, monospace;
  padding-left: 5px;
  border-top: 5px double #acaaac;
  border-right: 2px solid #acaaac;
  border-bottom: 2px solid #acaaac;
  border-left: 2px solid #acaaac;
}

.code, .code:visited {
  color: #1060a0;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #007020;
  font-weight: bold;
}

a:visited {
  color: #007020;
}
